@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

h1{
  color:blue;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Aboreto', cursive;
}

.button{
  padding: 20px;
  width : 66px;
  margin: 0 3px;
  border: 2px solid gray;
  border-redius:12px;
  cursor:pointer;
}

.row{
  margin:5px 0;
  width:
}

.row input{
  font-size: 12px;
  margin:0;
  padding:12px 40px;
  width : 210px;
  border: 2px solid gray;
  border-redius:12px;
}
